* {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


canvas {
    position: flex;
    border: 1px solid rgb(230, 230, 230);
    width: 400px;
    height: 400px;
}

.header {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}



.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 27rem;
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#under-canvas {
    position: absolute;
    z-index: 0;
    top:0;
}

#team-canvas {
    position: relative;
    z-index: 1;
    top:0;
}
#uniform-canvas {
    position: absolute;
    z-index: 2;
    top:0;
}
#bat-canvas {
    position: absolute;
    z-index: 3;
    top:0;
}
#acc-canvas {
    position: absolute;
    z-index: 4;
    top:0;
}
#draw-canvas {
    position: absolute;
    z-index: 5;
    top:0;
}
#text-canvas {
    position: absolute;
    z-index: 6;
    top:0;
}

.color-square{
    display: block;
}

#color, #draw-color, #text-color{
    text-align: center;
    width: 5rem;
    height: 3rem;
    margin-top: 1rem;
}


.color-palette {
    text-align: center;
    margin: 1rem;
}

.color-option {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    border-radius: 25px;
    margin:0.4rem;
    transition: transform ease-in-out .2s;
}

.color-option:hover {
   transform: scale(1.3);
}



.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.file-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.basic-btn {
    margin: 1rem 0.5rem 1rem 0.5rem;
}

.img-cloak {
    display: none;
}

.uniform-cloak {
    display: none;
}

.bat-cloak {
    display: none;
}

.acc-cloak {
    display: none;
}


#line-width {
    margin: 1rem;
    width: 30%;
}

#export-btn {
    margin:1rem;
    padding:1rem;
}

.ui-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ui-box {
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.5px solid gray;
}

.tab-btn-container {
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0.5px solid gray;
}


.tab-btn {
    display: flex;
    background-color: aqua;
    border-radius: 15px;
    padding: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

.tab-in-tab-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}



.background-ui-container {
    width: 90%;
    text-align: center;
    display: inline-block;
    direction: column;
    justify-content: center;
    margin:0;
    padding-top: 1rem;
}

.teamchoose-ui-container {
    width: 90%;
    display: none;
    flex-direction: column;
    justify-content: center;
    margin:0;
    padding-top: 1rem;
}

.team-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.team-btn{
  all: unset;
  padding: 0.5em;
  margin:0.5rem;
  width: 4rem;
  font-size: 13px;
  font-family:'Noto Sans' sans-serif;
  background-color: pink;
  color: palevioletred;
  cursor: pointer;
  border-radius: 5px;
  text-align:center;
  transition: opacity = 0.2s ;
}

.team-btn:hover {
    opacity: 50%
 }


.uniform-ui-container {
    display: none;
    flex-direction: column;
    justify-content: center;
}

.acc-ui-container {
    display: none;
    flex-direction: column;
    justify-content: center;
}

.drawing-ui-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-ui-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wear-btn{
    all: unset;
    padding: 0.5em;
    margin:0.5rem;
    width: 4rem;
    font-size: 13px;
    font-family:'Noto Sans' sans-serif;
    background-color: white;
    border-color: black;
    border-width: 10px ;
    color: palevioletred;
    cursor: pointer;
    border-radius: 5px;
    text-align:center;
 }

.acc-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bat-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bat-btn{
    all: unset;
    padding: 0.5em;
    margin:0.5rem;
    width: 4rem;
    font-size: 13px;
    font-family:'Noto Sans' sans-serif;
    background-color: white;
    border-color: black;
    border-width: 10px ;
    color: orange;
    cursor: pointer;
    border-radius: 5px;
    text-align:center;
 }

 .bat-clicked-btn{
    all: unset;
    padding: 0.5em;
    margin:0.5rem;
    width: 4rem;
    font-size: 13px;
    font-family:'Noto Sans' sans-serif;
    background-color: palegreen;
    border-color: black;
    border-width: 10px ;
    color: olivedrab;
    cursor: pointer;
    border-radius: 5px;
    text-align:center;
 }

 .acc-btn{
    all: unset;
    padding: 0.5em;
    margin:0.5rem;
    width: 4rem;
    font-size: 13px;
    font-family:'Noto Sans' sans-serif;
    background-color: white;
    border-color: black;
    border-width: 10px ;
    color: orange;
    cursor: pointer;
    border-radius: 5px;
    text-align:center;
 }

 .acc-clicked-btn{
    all: unset;
    padding: 0.5em;
    margin:0.5rem;
    width: 4rem;
    font-size: 13px;
    font-family:'Noto Sans' sans-serif;
    background-color: palegreen;
    border-color: black;
    border-width: 10px ;
    color: olivedrab;
    cursor: pointer;
    border-radius: 5px;
    text-align:center;
 }

 .reset-btn{
    display: inline-block;
    justify-content: center;
    font-size: 13px;
    font-family:'Noto Sans' sans-serif;
    background-color: pink;
    color: palevioletred;
    cursor: pointer;
    border-radius: 5px;
    text-align:center;
 }

 .wear-clicked-btn{
    all: unset;
    padding: 0.5em;
    margin:0.5rem;
    width: 4rem;
    font-size: 13px;
    font-family:'Noto Sans' sans-serif;
    background-color: pink;
    border-color: black;
    border-width: 10px ;
    color: palevioletred;
    cursor: pointer;
    border-radius: 5px;
    text-align:center;
 }

 #fill-btn{
    width: 4rem;
    font-size: 13px;
    font-family:'Noto Sans' sans-serif;
    background-color: pink;
    color: palevioletred;
    cursor: pointer;
    border-radius: 5px;
    text-align:center;
 }

 #text{
    width: 400px;
    height: 50px;
    border: grey;
    border-style:solid;
    border-width: 3px;
    text-align:center;
 }

 #tab-in-tab-bat {
    display: none;
 }

 #tab-in-tab-etc {
    display: none;
 }