* {
    padding: 0;
    margin: 0;
}
:root {
    
    --main-font: 'Noto Sans KR', sans-serif;
    --sub-font: 'Lato', sans-serif;

    --theme-color-a: #fc5c65;
    --theme-color-b: #fd9644;
    --theme-color-c: #fed330;
    --theme-color-d: #26de81;
    --theme-color-e: #56b8fe;
    --theme-color-f: #a28bff;
 
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


canvas {
    position: flex;
    border: 1px solid rgb(230, 230, 230);
    width: 400px;
    height: 400px;
}

a {
    text-decoration: none;
}

.header > a {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: xx-large;
    font-weight: bold;
    font-family: var(--main-font);
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:90%;
}



.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25rem;
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    top: 2rem;
}

#under-canvas {
    position: absolute;
    z-index: 0;
    top:0;
}

#team-canvas {
    position: absolute;
    z-index: 1;
    top:0;
}
#uniform-canvas {
    position: absolute;
    z-index: 2;
    top:0;
}
#bat-canvas {
    position: absolute;
    z-index: 3;
    top:0;
}
#acc-canvas {
    position: absolute;
    z-index: 4;
    top:0;
}
#draw-canvas {
    position: absolute;
    z-index: 5;
    top:0;
}
#text-canvas {
    position: absolute;
    z-index: 6;
    top:0;
}

.color-square{
    display: block;
}

#color, #draw-color, #text-color{
    text-align: center;
    width: 5rem;
    height: 3rem;
    margin-top: 1rem;
}


.color-palette {
    text-align: center;
    margin: 1rem;
}

.color-option, .color-draw-option, .color-text-option {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    border-radius: 25px;
    margin:0.4rem;
    transition: transform ease-in-out .2s;
}

.color-option, .color-draw-option, .color-text-option :hover {
   transform: scale(1.3);
}



.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.file-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.basic-btn {
    margin: 1rem 0.5rem 1rem 0.5rem;
}

.img-cloak {
    display: none;
}

.uniform-cloak {
    display: none;
}

.bat-cloak {
    display: none;
}

.cap-cloak {
    display: none;
}
.acc-cloak {
    display: none;
}


#line-width {
    width: 30%;
}

#export-btn {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 90%;
}

#export-btn:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

#export-btn:main, #export-btn:focus {
  user-select: auto;
}

#export-btn:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

#export-btn:disabled {
  cursor: auto;
}

.ui-container {
    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 28rem;
}

.ui-box {
    width: inherit;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: none;
    border-left: 0.5px solid gray;
    border-right: 0.5px solid gray;
    border-bottom: 0.5px solid gray;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.tab-btn-container {
    width: inherit;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    border: none;
    margin-top: 1rem;
}


.tab-btn {
    text-align: center;
    align-items: center;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    cursor: pointer;
    border-top: 0.5px solid gray;
    border-left: 0.5px solid gray;
    border-right: 0.5px solid gray;
    border-bottom: none;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 60%;

}

.tab-in-tab-container {
    display: flex;
    flex-direction: column;
    justify-self: left;
    justify-content: space-around;
    width: fit-content;
    height: 100%;

}

.tab-in-tab-btn {
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    width: 2rem;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-lr;
    border-top:1px solid lightgrey;
    border-bottom:1px solid lightgrey;
    border-right:1px solid lightgrey;
    border-radius: 3px;
    font-size: small;
    cursor: pointer;
}


.background-ui-container {
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0;
}

.teamchoose-ui-container {
    width: 90%;
    display: none;
    flex-direction: column;
    justify-content: center;
    margin:0;
}

.team-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.team-btn{
  padding: 0.5em;
  margin:0.5rem;
  width: 4rem;
  font-size: 13px;
  font-family:'Noto Sans' sans-serif;
  background-color: var(--theme-color-b);
  color:#ffffff;
  cursor: pointer;
  border-radius: 5px;
  text-align:center;
  border: none;
  transition: opacity = 0.2s ;
}

.team-btn:hover {
    opacity: 50%
 }


.uniform-ui-container {
    display: none;
    flex-direction: column;
    justify-content: center;
}

.uniform-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.acc-ui-container {
    display: none;
    width: 100%;
    height: 100%;
    flex-direction: row;
}

.drawing-ui-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-ui-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.acc-btn-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.cap-btn-container {
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.bat-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.etc-btn-container {
    display: flex;
    flex-direction: row;
    
}


 .bat-btn, .cap-btn, .acc-btn {
    padding: 0.5rem;
    margin:0.5rem;
    width: 3rem;
    font-size: 80%;
    font-family:'Noto Sans' sans-serif;
    background-color: var(--theme-color-d);
    border: none;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
    text-align:center;
    transition: opacity = 0.2s ;
 }

 .bat-btn:hover, .cap-btn:hover, .acc-btn:hover {
    opacity: 50%
 }

 .acc-clicked-btn, .cap-clicked-btn, .bat-clicked-btn{
    padding: 0.5rem;
    margin:0.5rem;
    width: 3rem;
    font-size: 13px;
    font-family:'Noto Sans' sans-serif;
    background-color: palegreen;
    color: olivedrab;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    text-align:center;
 }

 .reset-btn{
    display: inline-block;
    justify-content: center;
    font-size: 13px;
    font-family:'Noto Sans' sans-serif;
    background-color: pink;
    color: palevioletred;
    cursor: pointer;
    border-radius: 5px;
    text-align:center;
 }

.wear-btn{
    padding: 0.5em;
    margin:0.5rem;
    width: 3rem;
    font-size: 13px;
    font-family:'Noto Sans' sans-serif;
    background-color: var(--theme-color-c);
    color: #000000;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    text-align:center;
    transition: opacity = 0.2s ;
 }

 .wear-btn:hover {
    opacity: 50%
 }

 #fill-btn{
    width: 4rem;
    font-size: 13px;
    font-family:'Noto Sans' sans-serif;
    background-color: pink;
    color: palevioletred;
    cursor: pointer;
    border-radius: 5px;
    text-align:center;
 }

 #text{
    margin-bottom: 1rem;
    width: 20rem;
    height: 2rem;
    border: 0.5px solid grey;
    text-align:center;
 }

 #tab-in-tab-bat {
    display: none;
 }

 #tab-in-tab-cap {
    display: none;
 }

 #tab-in-tab-etc {
    display: none;
 }