* {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


canvas {
    position: flex;
    border: 1px solid rgb(230, 230, 230);
    width: 400px;
    height: 400px;
}

.header {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}



.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 27rem;
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#under-canvas {
    position: relative;
    z-index: 0;
    top:0;
}

#canvas {
    position: absolute;
    z-index: 1;
    top:0;
}


#color {
    width: 5rem;
    height: 3rem;
    margin-top: 1rem;
}
.color-palette {
    display: flex;
    flex-direction: row;
    margin: 1rem;
}

.color-option {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    border-radius: 25px;
    margin:0.4rem;
    transition: transform ease-in-out .2s;
}

.color-option:hover {
   transform: scale(1.3);
}



.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.basic-btn {
    margin: 1rem 0.5rem 1rem 0.5rem;
}

.img-cloak {
    display: none;
}

.uniform-cloak {
    display: none;
}


#line-width {
    margin: 1rem;
    width: 30%;
}

#export-btn {
    margin:1rem;
    padding:1rem;
}

.ui-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ui-box {
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.5px solid gray;
}

.tab-btn-container {
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0.5px solid gray;
}


.tab-btn {
    display: flex;
    background-color: aqua;
    border-radius: 15px;
    padding: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
}



.teamchoose-ui-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0;
    padding-top: 1rem;
}

.team-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.team-btn{
  all: unset;
  padding: 0.5em;
  margin:0.5rem;
  width: 4rem;
  font-size: 13px;
  font-family:'Noto Sans' sans-serif;
  background-color: pink;
  color: palevioletred;
  cursor: pointer;
  border-radius: 5px;
  text-align:center;
  transition: opacity = 0.2s ;
}

.team-btn:hover {
    opacity: 50%
 }

.uniform-ui-container {
    display: none;
    flex-direction: column;
    justify-content: center;
}

.acc-ui-container {
    display: none;
    flex-direction: column;
    justify-content: center;
}

.drawing-ui-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-ui-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wear-btn{
    all: unset;
    padding: 0.5em;
    margin:0.5rem;
    width: 4rem;
    font-size: 13px;
    font-family:'Noto Sans' sans-serif;
    background-color: white;
    border-color: black;
    border-width: 10px ;
    color: palevioletred;
    cursor: pointer;
    border-radius: 5px;
    text-align:center;
 }

 .wear-clicked-btn{
    all: unset;
    padding: 0.5em;
    margin:0.5rem;
    width: 4rem;
    font-size: 13px;
    font-family:'Noto Sans' sans-serif;
    background-color: pink;
    border-color: black;
    border-width: 10px ;
    color: palevioletred;
    cursor: pointer;
    border-radius: 5px;
    text-align:center;
 }